body {
    margin: 0;
    background-color: #06221D;
}

.clear {
    clear: both;
}

.fixed_width {
    width: 740px;
    height: 1250px;
    margin: 0 auto;
}

.centered_image {
    display: block;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background: no-repeat fixed center;
}

#main_block {
    background: url("images/background_cropped.png") no-repeat top center;
}

/*
    Logo.
*/

#logo {
    width: 100%;
    padding: 0;
    margin-left: 80px;
    font-size: 1.8em;
}

#logo h1 {
    float: left;
    color: #D38484;
    margin: 0;
    padding-left: 80px;
    padding-top: 40px;
}

#white_chalk {
    float: left;
    transform: rotate(25deg);
    margin: 0;
    padding-top: 25px;
}

#pieces_of_chalk {
    float: left;
    margin: 0;
    padding-top: 90px;
    transform: rotate(25deg);
}

/*
    Top menu.
*/

#top_menu {
    position: absolute;
    margin-top: -30px;
    margin-left: 180px;
}

#top_menu ul {
    margin: 0;
    padding: 0;
}

#top_menu li {
    color: #68B36B;
    font-style: italic;
    float: left;
    list-style: none;
    font-size: 1.3em;
    padding: 13px 20px 16px 20px;
}

#melok {
    float: left;
    margin: -60px 0 0 40px;
    transform: rotate(180deg);
}

/*
    Top content oval block.
*/

#top_content_oval_block {
    float: left;
    background-color: #243B59;
    opacity: 0.75;
    margin-top: 25px;
    margin-left: 15px;
    padding: 0;
    width: 280px;
    height: 180px;
    border-radius: 50px;
}

.white_card {
    float: left;
    margin-left: -5px;
    margin-top: -10px;
    padding: 0;
    background-color: white;
    width: 100px;
    height: 90px;
    border-radius: 15%;
}

#text {
    position: relative;
    padding: 0;
    margin: 0;
    width: 180px;
    float: left;
}

#text p {
    margin-left: 6px;
    font-size: 0.85em;
}

#bottom_card {
    margin-top: -80px;
}

/*
    Text content.
*/

.text_content_block {
    width: 60%;
    padding: 0;
    margin-top: 50px;
    margin-left: 21%;
}

.text_content_block p {
    color: white;
    text-align: justify;
    font-style: italic;
}

/*
    Turtle block.
*/

#turtle_block {
    padding: 0;
}

#turtle_block img {
    float: left;
    position: relative;
    margin-top: 16px;
    margin-left: 160px;
}

#turtle_block p {
    float: left;
    color: #68B36B;
    font-size: 1.8em;
    font-style: italic;
    padding: 0;
    margin-top: 30px;
    margin-left: 8px;
}

/*
    Bottom cards.
*/

#bottom_cards_block {
    padding: 0;
    margin-left: 200px;
    margin-top: 30px;
}

.with_margins {
    margin: 10px;
}

#custom_margins {
    padding: 0;
    margin-top: 10px;
    margin-left: 155px;
}
